a.nav-link.active {
    font-size: 20px;
    font-weight: bold; 
    
} 
button.signOut {
    background: #ff3e3e;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
} 

    .singout {
        margin-top: 2px;
        font-size: 19px;
        background: #ff3f3f;
        border-radius: 4px;
    }
    a.nav-link.logg {
        font-weight: bold;
    }
.iphone {
    font-size: 25px;
    font-weight: bold;
}   


