.card.card_style p {
    font-size: 18px;
    font-weight: bold;
} 
.card.card_style span {
    color: #ff5555;
} 
.restock {background: tan;padding: 20px;}

.restock form {padding: 20px 0px;}


.restock form input {
    outline: none;
    border: none;
    padding: 7px 0px;
    border-radius: 3px;
}