/* .form_wraper {display: flex;justify-content: center;padding: 10px;background: gainsboro;}



.form_wraper input {margin: 10px;padding: 6px 20px;outline: none;border: none;border-radius: 10px;} 
.title {
    color: blue;
    text-transform: uppercase;
    margin-bottom: 10p\x;
} 
input.submite {
    background: #4141ed;
    font-size: 20px;
    color: white;
    font-weight: bold;
} */